h1 {
color: red;
}
em {
    color: green;
}
h2{
    color: red;
}
h4{
    color: blue;
}
h5{
    color: red;
}
input{
    border-color: red;
}
button{
    width: 200px;
    height: 50px;
    background-color: gainsboro;
    border-color: green;
    color: green;
}